
.header {
    
    margin: 20px;
    background-color: blanchedalmond;
    display: flex;
    height: 15%;
    width: 98%;
    flex-direction: row;
    align-items: center;
   
    
    justify-content: space-between;
    &__content {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          font-size: 30px;
          color: rgb(42, 42, 46);
          &__title{
              width: 20%;
              height:100%;
              padding:10px;
              margin-right: 150px;
              font-weight: 900;
          }
          &__primaryNavigation{
              display:flex;
              padding: 30px;
              align-items: center;
              flex-direction: row;
              justify-content: space-around;
              width: 40%;
              height: 100%;
              &__items{
                  padding:23px;
                  
              }
          }

    }
}